{% extends "accounts/main.html" %}
{% block content %}
{% include "accounts/status.html" %}

<div class="row">
    <div class="col-md">
        <div class="card" id="customers-box">
            <div class="card-body">
                <table class="table table-sm table-hover">
                    <tr>
                        <th>محصول</th>
                        <th>توضیحات</th>
                        <th>تاریخ ثبت سفارش</th>
                        <th>وضعیت</th>
                    </tr>

                        {% for order in orders %}
                            <tr>
                                <td>{{ order.product.name }}</td>
                                <td>{{ order.notes }}</td>
                                <td>{{ order.date_created }}</td>
                                <td>{{ order.status }}</td>
                            </tr>
                        {% endfor %}




                </table>
            </div>
        </div>
    </div>
</div>
<!-- End Table Row -->


{% endblock content %}